<div class="container-fluid">
  <div class="row">
    <aside id="aside-class" class="text-white" [class.collapsed]="isCollapsed" [class.fullscreen]="isMobileMenuOpen"
      style="position: fixed; top: 0; left: 0; height: 100vh; transition: width 0.3s ease; overflow-x: hidden;">
      <div class="d-flex flex-column h-100">
        <br>
        <h5 class="mb-0 text-center" *ngIf="!isCollapsed">NORTOLEOCENTER</h5>

        <hr *ngIf="!isCollapsed">

        <div class="d-flex align-items-center px-1 mb-2">
          <a routerLink="usuario" routerLinkActive="active" class="avatar-wrapper">
            <img src="/aceite-palma.jpg" alt="" width="45" height="45" class="rounded-circle me-2" />
          </a>
          <div class="header" *ngIf="!isCollapsed">
            <h6 class="mb-0">Gestión palma de aceite</h6>
            <span id="profile">Norte de Santander</span>
          </div>
        </div>



        <ul class="nav flex-column mb-auto px-2">
          <li class="nav-item">
            <a class="nav text-white" routerLink="dashboard" (click)="cerrarMenu()" routerLinkActive="active">
              <i class="fas fa-tachometer-alt me-2"></i> <!-- Icono de Dashboard -->
              <span *ngIf="!isCollapsed">Dashboard</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="isProductor() || isAdmin()">
            <a class="nav text-white" routerLink="finca" (click)="cerrarMenu()" routerLinkActive="active">
              <i class="fas fa-seedling me-2"></i> <!-- Icono de Finca/Planta -->
              <span *ngIf="!isCollapsed">Fincas</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="isProductor() || isAdmin()">
            <a class="nav text-white" routerLink="lote" (click)="cerrarMenu()" routerLinkActive="active">
              <i class="fas fa-th-large me-2"></i> <!-- Icono de Lote / Parcelas -->
              <span *ngIf="!isCollapsed">Lotes</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="isProductor() || isAdmin()">
            <a class="nav text-white" routerLink="envio" (click)="cerrarMenu()" routerLinkActive="active">
              <i class="fas fa-shipping-fast me-2"></i> <!-- Icono de Envíos -->
              <span *ngIf="!isCollapsed">Envios</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="isEmpleado() || isAdmin()">
            <a class="nav text-white" routerLink="recepcion" (click)="cerrarMenu()" routerLinkActive="active">
              <i class="fas fa-warehouse me-2"></i> <!-- Icono de Recepciones / Almacén -->
              <span *ngIf="!isCollapsed">Recepciones</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav text-white" routerLink="configuracion" routerLinkActive="active">
              <i class="fas fa-cogs me-2"></i> <!-- Icono de Configuración -->
              <span *ngIf="!isCollapsed">Configuración</span>
            </a>
          </li>
        </ul>


        <hr *ngIf="!isCollapsed">

        <div class="px-3 pb-3">
          <a class="nav text-white" routerLink="/login" (click)="cerrarSesion()">
            <i class="fas fa-right-from-bracket me-2"></i>
            <span *ngIf="!isCollapsed">Salir</span>
          </a>
        </div>
      </div>
    </aside>

    <main class="ms-auto">
    </main>
  </div>
</div>
