<div class="container-fluid mt-4" *ngIf="usuario">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-7">
      <div class="card shadow-sm">
        <div class="card-header text-white">
          <h4>Mi Perfil</h4>
        </div>

        <div class="card-body p-4">
          <form [formGroup]="formUsuario" (ngSubmit)="guardarCambios()">

            <div class="row">

              <div class="col-12 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name" [readonly]="!editando">
              </div>

              <div class="col-12 mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" formControlName="email" [readonly]="!editando">
              </div>

              <div class="col-12 mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" [readonly]="!editando" placeholder="Nueva contraseña">
              </div>

              <div class="col-12 mb-3">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" formControlName="password_confirmation" [readonly]="!editando" placeholder="Repite la contraseña">
                <div *ngIf="formUsuario.errors?.['noCoinciden'] && formUsuario.get('password_confirmation')?.touched"
                     class="text-danger small">
                  Las contraseñas no coinciden
                </div>
              </div>

            </div>

            <div class="d-flex justify-content-end mt-2">
              <button *ngIf="!editando" type="button" class="btn btn-primary" (click)="habilitarEdicion()">Editar</button>
              <div *ngIf="editando">
                <button type="submit" class="btn btn-success me-2">Guardar</button>
                <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
