:host {
  display: flex;
  height: 100vh;
}

app-menu-vertical {
  width: 50px;
  flex-shrink: 0;
}

.contenido-principal {
  flex: 1;
  overflow: auto;
}

.offset-2 {
  margin-left: 190px;
  transition: margin-left 0.3s ease;
}
@media (max-width: 767.98px) {
  .offset-2 {
    margin-left: 20px;
  }
}

/* Ancho colapsado del sidebar */
.offset-custom {
  margin-left: 70px;
  transition: margin-left 0.3s ease;
}
