.notyf__toast {
  border-radius: 12px !important;
  font-weight: 500;
  padding: 10px 20px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.notyf__message {
  font-size: 15px;
}

.notyf__icon {
  margin-right: 10px;
}
